body {
    margin: 0;
    height: 100vh; /* vh quer dizer toda o tamanho da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

#alerta {
    width: 150px;
    height: 40px;
    background-color: rgb(243, 209, 19);
    padding: 8px 10px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    position: fixed; /* muda o jeito que a leitura da página é lido. deixa o elemento fixado independendo do jeito que mexe a página */
    left: -170px; /* depois de fixado, agora é a distância dele da esquerda*/
    top: 8px; 
    transition: left 300ms; /* vai transicionar a tag LEFT por 300 ms */
}

#alerta p { /** id alerta a tag p */
    margin: 0;
    flex-grow: 1;
}

#alerta button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 25px;
}

#alerta button:hover{
    cursor: pointer;
}

.btn-mostrar {
    height: 40px;
    width: 120px;
    border: none;
    background-color: rgb(228, 36, 29);
    color: white;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
}

.mostrar {
    left: 8px !important; /*!important faz o CSS sobrescreva */
}